<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>
    <table>
        <tr>
            <td>
                <img class="tableImage" src="{{image1}}" alt="" />
            </td>
            <td>
                <img class="tableImage" src="{{image2}}" alt="" />
            </td>
        </tr>
        <tr>
            <td>
                {{comment1}}
            </td>
            <td>
                {{comment2}}
            </td>
        </tr>
        <tr>
            <td  >
                <img class="tableImage" src="{{image3}}" alt="" />
            </td>
            <td>
                <img class="tableImage" src="{{image4}}" alt="" />
            </td>
        </tr>
        <tr>
            <td>
                {{comment3}}
            </td>
            <td>
                {{comment4}}
            </td>
        </tr>
    </table>

</p>
